<p id="notice"><%= notice %></p>


      <h1> Text Messages </h1>

        <table class = "table">
          <thead>
            <tr>
              <th>Phone</th>
              <th>Message</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @sends.each do |send| %>
              <tr>
                <td><%= send.phone %></td>
                <td><%= send.message %></td>


              </tr>
            <% end %>
          </tbody>
        </table>

     
<br>

<%= link_to 'New Send', new_send_path %>
