<div id="main-container" class = "container">
	<div class = "row>"
		<div class="col-sm-6 col-sm-offset-3">

			<h1>Send Text Message </h1>
<hr>

<h3 id="notice"><%= notice %></h3><br />

<p>
  <strong>Phone</strong> <br />
  <%= number_to_phone(@send[:phone].gsub(/[^0-9]/,''), area_code: true) %>
</p>

<p>
  <strong>Message</strong> <br />
  <%= @send.message %>
</p>

<br />

<%= link_to 'Send Another Message', new_send_path, class: 'btn btn-default' %>

</div>
</div>
</div>
